HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
zhexan-monitor-client/src/test/java/org/example/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.idea/
/config/server.json
/AGENTS.md

/zhexan-monitor-server/src/test/java/
/nul
/摘要.txt
/论文第一章_绪论.txt
/论文第七章_总结与展望.txt
/论文第三章_系统分析.txt
/论文第二章_相关技术介绍.txt
/论文第五章_系统实现.txt
/论文第六章_系统测试.txt
/论文第四章_系统设计.txt
/论文结构.txt
